SQL_SERVER=SRVBISQL01\SQLPRBI
SQL_DATABASE=DWHEncuestasPercepcion
SQL_DRIVER=ODBC Driver 18 for SQL Server
SQL_TRUSTED_CONNECTION=yes
# Optional: use SQL_USER and SQL_PASSWORD if you want SQL authentication instead of Trusted Connection
# SQL_USER=admin.bisql02
# SQL_PASSWORD=p3pF8ejhMN8RXpRYxG
DB_DATA_SERVER=SRVSQLAPPSWEB\URSQL01,14331
DB_DATA_NAME=dbpercepcion
DB_DATA_USER=USR_dbpercepcion
DB_DATA_PASS=YOUR_DB_DATA_PASSWORD
DB_LOG_SERVER=SRVCBQABI,1433
DB_LOG_NAME=BA_MODELS
DB_LOG_USER=admin.bisql02
DB_LOG_PASS=YOUR_DB_LOG_PASSWORD
SMTP_USER=fredya.sarmiento@urosario.edu.co
SMTP_PASS=YOUR_SMTP_PASSWORD
SP_CLIENT_ID=05827bb6-addd-4b44-8c1e-b86d4a3f6fa7
SP_CLIENT_SECRET=YOUR_SP_CLIENT_SECRET
SP_TENANT_ID=ae525757-89ba-4d30-a2f7-49796ef8c604
SP_SITE_ID=uredu.sharepoint.com,e7452a3c-4f16-4ac7-9a9e-7390a6414a84,1d34d3a6-52ea-493c-a55d-424e25a3e944
SP_BASE_PATH=Documentos/Proyectos/EncuestasPercepcionPorAreas
BATCH_PATH=..\..\Lanzador_encuestapercepcion.bat
TASK_NAME=LanzadorEncuestasPercepcion
